div#pic {
  text-align: center;
  margin-top: 50px;
}

img.gw {
  padding: 5px;
  border: 1px solid #777;
  width: 800px;
  height: 600px;
  -moz-box-shadow:    2px 3px 3px 3px #ccc;
  -webkit-box-shadow: 2px 3px 3px 3px #ccc;
  box-shadow:         2px 3px 3px 3px #ccc;
}

h1#words {
  color:#839ba9; 
  text-align: center;
  /* github-blue */
}
